# Travis-CI script to install & test MOOSE with NeuroML

notifications:
    email:
        recipients:
            - dilawar.s.rajput@gmail.com

install:

  - sudo add-apt-repository -y ppa:bhallalab/moose
  - sudo apt-get update
  - sudo apt-get install openscenegraph # temp
  - sudo apt-get install moose-python  moose-gui  
  - sudo apt-get install moogli

script:
    - ./run_scripts.sh

