recursive-include cuda           *.py 
recursive-include genesis             *.png  *.xml *.g
recursive-include hopfield       *.py          
recursive-include izhikevich     *.py 
recursive-include kinetics       *.py
recursive-include moogli         *.py 
recursive-include neuroml        *.py *.png  *.xml 
recursive-include paper-2015     *.py        *.xml *.g
recursive-include parallelSolver *.py 
recursive-include passive        *.py 
recursive-include rall_1964      *.py 
recursive-include snippets       *.py              *.g
recursive-include squid          *.py
recursive-include symcomp        *.py              *.g
recursive-include tutorials      *.py *.png  *.xml *.g
recursive-include unsorted       *.py 
recursive-include util           *.py 
recursive-include traub_2005     *.py 
recursive-include neuroml2       *.py 
